/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2e2e;
  color: #fff;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

button.filter {
  background-color: #993399;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

button.filter:hover {
  background-color: #800080;
}

table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #993399;
  color: #fff;
  text-align: left;
}

thead th {
  padding: 1rem;
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #555;
}

tbody tr:hover {
  background-color: #800080;
}

td {
  padding: 1rem;
}
